<!DOCTYPE html>
<head>
    <title>Very simple memcache</title>
</head>
<html>
    <body>

        <form action="{{ url_for('get')}}" method="post">
            <label>get from cache key:</label>
            <input type="text" name="key" />
            <input type="submit" value="get" />
        </form>

        <form action="{{ url_for('getFromLocalFiles')}}" method="post">
            <label>get from DB key:</label>
            <input type="text" name="key" />
            <input type="submit" value="get" />
        </form>

        <form action="{{ url_for('put')}}" method="post">
            <label>post key:</label>
            <input type="text" name="key" />
            <label>value:</label>
            <input type="text" name="value" />
            <input type="submit" value="put" />
        </form>

        <form action="{{ url_for('uploadToDB')}}" method="post">
            <label>Upload to DB key:</label>
            <input type="text" name="key" />
            <label>value:</label>
            <input type="text" name="value" />
            <input type="submit" value="put" />
        </form>

        <form action="{{ url_for('clear')}}" method="post">
            <input type="submit" value="clear" />
        </form>
        
        <form action="{{ url_for('invalidateKey')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <input type="submit" value="invalidateKey" />
        </form>
        <form action="{{ url_for('configureMemcache')}}" method="post">
            <label>configureMemcache Size:</label>
            <input type="text" name="size" />
            <label>Mode:</label>
            <input type="text" name="mode" />
            <input type="submit" value="put" />
        </form>
    <body>    
</html>